<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<link rel="stylesheet" href="../stylesheets/style.css">
	<link rel="stylesheet" href="../stylesheets/center.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<%- include("header"); %>

	<div class="center-about page-body">
		<a href="#" class="heading">Giới thiệu về trung tâm</a>
		<a href="about/edit"><button class="button button-classic abs-right">
			Chỉnh sửa
		</button></a>
		<div class="divider divider-15line"></div>
		<div class="content">
			<div class="img-center">
				<img class="full-bg" src="image/center/about-banner.png">
			</div>
			<div class="text">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium quidem fugiat quaerat quos repudiandae similique rem, praesentium nesciunt! Doloribus explicabo mollitia dolorum obcaecati iste laudantium, quia optio, veritatis officiis suscipit beatae quidem laboriosam amet, deleniti facere rem voluptates minus fuga quae commodi fugiat itaque voluptatibus consectetur nisi, saepe totam nostrum excepturi modi voluptate a fugit velit. Voluptate rem illo nulla nobis quibusdam, nesciunt inventore.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum porro, maxime dolores aperiam saepe laudantium dolore quae ad temporibus asperiores quas tenetur inventore ipsa vel?</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum porro, maxime dolores aperiam saepe laudantium dolore quae ad temporibus asperiores quas tenetur inventore ipsa vel?</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit fuga suscipit ipsam impedit enim nihil voluptatum numquam, earum eos, atque facilis quaerat optio! Animi libero saepe, laudantium ipsa inventore, iusto provident molestias enim. Saepe aspernatur ex rerum tempora ea nisi.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis enim error </p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, minima, laboriosam sapiente iste cumque incidunt.</p>
			</div>
			<br>
			<a href="#">Vui học tiếng Anh - Ưu đãi đặc biệt cho thẻ TP-Bank</a>
		</div>
	</div>
			

	<%- include("footer"); %>		