<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<link rel="stylesheet" href="../stylesheets/style.css">
	<link rel="stylesheet" href="../stylesheets/center.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<%- include("header"); %>

	
			<div class="page-slidetop">
				<h2>Danh sách lớp mới khai giảng</h2>
				<ul>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>
			<div class="page-body">
				<div class="list-teachers">
					<a class="heading">Đội ngũ giáo viên</a>
					<ul>
						<li>1</li>
						<li>2</li>
						<li>3</li>
					</ul>
					<button class="button-classic">Chi tiết</button>
				</div>
				<div class="list-news">
					<button class="button-classic">
							Xem tất cả
					</button>
					<a class="heading">Tin tức trung tâm</a>
					<ul>
						<li class="new">
							<section class="content">
								<img class="fl-left" src="https://placeholdit.imgix.net/~text?txtsize=20&txt=140%C3%9780&w=140&h=80">
								<div class="text">
									<h3>
										Vui hè học tiếng anh - Ưu đãi đặc biệt cho chủ thẻ TP-Bank
									</h3>
									<p class="notes">
										Thứ 2, 01 tháng 6 năm 2015 18:03
									</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, dignissimos. Nisi deleniti, dignissimos aliquam magni optio, fuga fugiat officia, suscipit omnis nesciunt assumenda. Tenetur, aut!</p>
								</div>
							</section>
						</li>
						<div class="divider"></div>
						<li class="new">
							<section class="content">
								<img class="fl-left" src="https://placeholdit.imgix.net/~text?txtsize=20&txt=140%C3%9780&w=140&h=80">
								<div class="text">
									<h3>
										Vui hè học tiếng anh - Ưu đãi đặc biệt cho chủ thẻ TP-Bank
									</h3>
									<p class="notes">
										Thứ 2, 01 tháng 6 năm 2015 18:03
									</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, dignissimos. Nisi deleniti, dignissimos aliquam magni optio, fuga fugiat officia, suscipit omnis nesciunt assumenda. Tenetur, aut!</p>
								</div>
							</section>
						</li>
						<div class="divider"></div>
						<li class="new"></li>
						<li class="new"></li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>

	<%- include("footer"); %>		