<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title><%= title %></title>
		<link rel="stylesheet" href="../stylesheets/style.css">
		<link rel="stylesheet" href="../stylesheets/center.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<%- include("header"); %>
		<div class="tuyensinh page-body">
			<div class="main col-split col-9">
				<div class="page-heading">
					<div>BBC NEWS DAILY</div>
					<div class="page-heading-function">
						
					</div>
				</div>
				<div class="page-contents"></div>
			</div>
			<div class="ts-sidebar col-split col-3">
				<div class="activities">
					
				</div>
				<div class="fb-fanpage"></div>
			</div>
		</div>
		
		<%- include("footer"); %>