<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="stylesheets/style.css">
	<link rel="stylesheet" href="stylesheets/main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<header>
		<div class="container">
			<div class="header-logo"></div>
		<div class="header-function">
			<ul>
				<li><a href="#">Cài đặt thông tin TT</a></li>
				<li><a href="#">Quản lý giáo viên</a></li>
				<li><a href="#">QUản lý bài viết</a></li>
				<li><a href="#">Quản lý lớp</a></li>
				<li><a href="#">More Option</a></li>
			</ul>
		</div>
	</header>
	<div id="page">
		<div class="container">
			<div class="page-sidebar">
				<ul>
					<li>1</li>
					<li>2</li>
					<li>3</li>
					<li>4</li>
					<li>5</li>
				</ul>
			</div>
		
			<div class="page-banner">
				<img src="">
			</div>
				

			<div class="page-header">
				<div class="page-header-logo">Tiếng Anh Thông Minh</div>
				<div class="page-header-function">
					<ul>
						<li>Trang chính</li>
						<li class="active">Giới thiệu</li>
						<li>Danh sách lớp</li>
						<li>Đội ngũ</li>
						<li>Tuyển sinh</li>
					</ul>
					<div class="clear"></div>
				</div>
				<div class="user-panel">
					<div class="my-class">
						<a href="#">My class</a>
					</div>
					<div class="alert">
						
					</div>
					<div class="user-nick">
						<a class="user-name"href="#">Mạnh Trần</a>
						<div class="user-avatar"></div>
					</div>
				</div>
			</div>
			<div class="page-slidetop">
				<h2>Danh sách lớp mới khai giảng</h2>
				<ul>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>
			<div class="page-body">
				<div class="list-teachers">
					<a class="heading">Đội ngũ giáo viên</a>
					<ul>
						<li>1</li>
						<li>2</li>
						<li>3</li>
					</ul>
					<button class="button-classic">Chi tiết</button>
				</div>
				<div class="list-news">
					<button class="button-classic">
							Xem tất cả
					</button>
					<a class="heading">Tin tức trung tâm</a>
					<ul>
						<li class="new">
							<section class="content">
								<img class="fl-left" src="https://placeholdit.imgix.net/~text?txtsize=20&txt=140%C3%9780&w=140&h=80">
								<div class="text">
									<h3>
										Vui hè học tiếng anh - Ưu đãi đặc biệt cho chủ thẻ TP-Bank
									</h3>
									<p class="notes">
										Thứ 2, 01 tháng 6 năm 2015 18:03
									</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, dignissimos. Nisi deleniti, dignissimos aliquam magni optio, fuga fugiat officia, suscipit omnis nesciunt assumenda. Tenetur, aut!</p>
								</div>
							</section>
						</li>
						<div class="divider"></div>
						<li class="new">
							<section class="content">
								<img class="fl-left" src="https://placeholdit.imgix.net/~text?txtsize=20&txt=140%C3%9780&w=140&h=80">
								<div class="text">
									<h3>
										Vui hè học tiếng anh - Ưu đãi đặc biệt cho chủ thẻ TP-Bank
									</h3>
									<p class="notes">
										Thứ 2, 01 tháng 6 năm 2015 18:03
									</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, dignissimos. Nisi deleniti, dignissimos aliquam magni optio, fuga fugiat officia, suscipit omnis nesciunt assumenda. Tenetur, aut!</p>
								</div>
							</section>
						</li>
						<div class="divider"></div>
						<li class="new"></li>
						<li class="new"></li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
			<div class="page-footer">
				<div class="footer-logo">
					
				</div>
				<div class="footer-info">
					<h3 class="link"><strong>Địa chỉ</strong></h3>
					<ul>
						<li>Cơ sở 1: Số 1 ngõ 16 p.Đồng Tâm Q.Hai Bà Trưng, Hà Nội (ĐT: 0968334343)</li>
						<li>Cơ sở 1: Số 165 ngõ 16 p.THái Hà Q.Cầu Giấy, Hà Nội (ĐT: 096833444343)</li>
						<li>Cơ sở 1: Số 16 ngõ 16 p.Hoàn Kiếm Q.Hoàn Kiếm, Hà Nội (ĐT: 096833444343)</li>
					</ul>
				</div>
				<div class="fb-likebox">
					<h3 class="link"><strong>Địa chỉ Fanpage</strong></h3>
					<div></div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>