<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="stylesheets/style.css">
	<link rel="stylesheet" href="stylesheets/main.css">
</head>

<body>
	<header>
		<div class="container">
			<div class="header-logo"></div>
		<div class="header-function">
			<ul>
				<li><a href="#">Cài đặt thông tin TT</a></li>
				<li><a href="#">Quản lý giáo viên</a></li>
				<li><a href="#">QUản lý bài viết</a></li>
				<li><a href="#">Quản lý lớp</a></li>
				<li><a href="#">More Option</a></li>
			</ul>
		</div>
	</header>
	<div id="page">
		<div class="container">
			<div class="page-sidebar">
				<ul>
					<li>1</li>
					<li>2</li>
					<li>3</li>
					<li>4</li>
					<li>5</li>
				</ul>
			</div>
		
			<div class="page-banner">
				<img src="">
			</div>
				

			<div class="page-header"></div>
			<div class="page-slidetop"></div>
			<div class="page-body">
				<div class="list-teachers"></div>
				<div class="list-news"></div>
			</div>
			<div class="page-footer"></div>
		</div>
	</div>
</body>

</html>