

/* ==========PAGE */
#page{
	margin-top: 50px;
	margin-bottom: 2em;
	width: 100%;
	position: relative;
}

#page .container{
	min-height: 300px;
	top:20px;
	background: #fff;
}


/* sidebar */
#page .page-sidebar{
	position: absolute;
	left: -76px;
	width: 75px;
	height: 100%;
	background: #fff;
	border-radius:4px 0 0 4px;
}
.page-sidebar ul li{
	height: 75px;
	line-height: 75px;
	border-bottom: solid 1px #F1EDED;
}
.page-sidebar ul li img{
	margin-top:18px;
}

/* contents */
.page-banner{
	height: 320px;
	background: #408E5B;
}

/* page-header */
.page-header{
	height: 50px;
	line-height: 50px;
	position: relative;
	display: flex;
	font-size: 12px;
	position: relative;
	border-bottom: 3px solid #333;
}
.page-header-logo{
	height: 100%;
	width: 23%;
	padding-left: 20px;
	background: #fff;
	font-size: 1.2em;
	text-align: center;
	display: flex;
}
.page-header-logo img{
	width: 35px;
	height: 35px;
	margin-top: 8px;
	border-radius: 3px;
	margin-right: 10px;
}
.page-header-function{
	width: 50%;
	font-weight: bold;
}
.page-header-function a{
	color:#333;
}
.page-header-function ul{
	display: flex;
	height: 36px;
    line-height: 36px;
    margin-top: 7px;
	border-left:solid 1px #ccc;
	border-right:solid 1px #ccc; 
}
.page-header-function ul li{
	width: 20%;
	overflow: hidden;
}

/* user-panel */
.user-panel{
	width: 27%;
	height: 100%;
	line-height: 50px;
	display: flex;
	position: relative;
}
.user-panel .my-class{
	padding: 0 5px 0 35px ;
}
.user-panel .my-class a:before{
	content: "";
	background-image:url("image/center/myclass.png");
	-webkit-background-size: 25px;
	background-size: 25px;
	position: absolute;
	width: 25px;
	height: 25px;
	margin-top: 10px;
	left: 5px;
}
.user-panel .alert{
	width: 25px;
	height: 27px;
	margin-right:10px;
	margin-top:10px;
	border-radius:50%;
}

.user-nick{
	display: flex;
}
.user-avatar{
	width: 37px;
	height: 37px;
	margin-left: 5px;
	margin-top:5px;
	border-radius: 50%;
	background: #ccc;
}
/* page-slidetop */
.page-slidetop{
	background: #4F86EF;
	text-align: center;
	padding: 1em 0;
}
.page-slidetop h2{
	text-transform:uppercase;
	color:#fff;
	margin:0;
	margin-bottom: .5em;
}
.page-slidetop ul{
	width: 90%;
	height: 100px;
	margin:0 auto;
	display: -webkit-flex; /* Safari */
    -webkit-justify-content: space-around; /* Safari 6.1+ */
    display: flex;
    justify-content: space-around;
	margin-bottom: 1em;
}
.page-slidetop ul li{
	width: 20%;
	border: 1px solid #ccc;
	border-radius:5px;
	align-content:space-around;
	background: #676767;
}

/* body */
.page-body{
	padding:1em 0;
}
.list-teachers{
	width: 27%;
	float: left;
	text-align: center;
}

.list-teachers ul{
	margin: 1em 0;
	padding:0 15%;
	border-right:solid 1px #ccc;
	box-sizing:border-box;
}
.list-teachers ul li{
	background: #fff;
	float: none;
	padding: 1em 0;
	position: relative;
}
.list-teachers li div:first-child{
	position: relative;
	margin-bottom: 10px;
}

.list-teachers li div:last-child{
	font-size: 12px;
	color:#999;
	font-weight: bold;
}
.list-teachers img{
	width: 70px;
}
.list-teachers li a{
	font-weight: bold;
}
.list-teachers ul li:last-child{
	border-bottom: 0 !important;
}

/* NEW */
.list-news{
	width: 73%;
	float: right;
	padding:0 2em;
	box-sizing:border-box;
	position: relative;
}

.list-news ul li.new{
	padding-bottom: 1.5em;
}
.list-news button{
	position: absolute;
	right: 2em;
	top: 0;
}
.list-news ul{
	margin-top: 1.5em;
	height: 100px;
}
.list-news li img{
	width: 180px;
}

/* new text */
section.content h3{
	font-size: 13px;
	font-weight: bold;
}
section.content .notes{
	font-style: italic;
	color: #ccc;
}
section.content .text{
	text-align: left;
}

/* ++++++++++===============CENTER ABOUT */
.center-about.page-body{
	padding: 1em 4em 5em;
}

.img-center{
	width: 80%;
	margin:2em auto;
	height: 250px;
	background: #CCC;
}

/* center about edit */
.center-about-edit.page-body{
	background: #ccc;
	padding-top:.5em;
	position: relative;
}

.center-about-edit .wrapper{
	background: #fff;
	margin:1em;
}

/* tab-select */
.tab-select{
	height: 50px;
	line-height: 50px;
	background: #E3E3E3;
	overflow: hidden;
	display: flex;
}

.tab-select div{
	height: 50px;
	width: 250px;
	text-align: center;
}
.tab-select .tab-active{
	background: #fff;
}
/* edit */
.edit-tatm,.edit-intro{
	padding:0 2em;	
	position: relative;
}

/* edit center's name */
	.edit-name{
		margin: 2em 0;
		height: 35px;
		line-height: 35px;
		display: flex;
	}
	.edit-name div{
		width:87%; 
		border:solid 1px #BFBFBF;
		line-height:35px;
		margin-right: .5em;
		border-radius: 3px;
		box-sizing: border-box;
		overflow: hidden;
	}
	.edit-name div label{
		height: 35px;
		line-height: 35px;
		padding: 9px 1em;
		background: #BBBBBB;
		border-right:1px solid #bbb;
	}
	.edit-name div input{
		min-width: 80%;
		line-height: 33px;
    	overflow: hidden;
	}
/* edit logo and cover */
.edit-logo,.edit-cover{
	text-align: center;
	margin-bottom: 1em;
}
.edit-logo h3,.edit-cover h3{
	font-weight: bolder;
	color: #BABABA;
}

.edit-logo .button-tatm{
	width: 400px;
	display: flex;
	padding: 10px;
	margin:1em auto;
	box-sizing: border-box;
	border: dashed 3px #ccc;
	text-transform: uppercase;
	border-radius: 5px;
	background: #E9E9E9;
}

.edit-logo div{
	margin-right: 20px;
}
.edit-logo img{
	width: 50px;
	height: 50px;
	vertical-align: center;
	border-radius: 4px;
}

.button-tatm h2{
	margin:0;
	margin-top: 12px;
}

/* edit intro */
.edit-intro{
	text-align: center;
}
.submit-edit .button-dashed{
	color:#FF681D;
}

/* ============================LÃST CLASS, T */
.list-classes.page-body{
	padding: 1em;
	background: #999;
	position: relative;
}
.breadcumb,.add-class{
	margin-bottom: 1em;
}

.breadcumb{
	display: inline-block;
	width: 100%;
	line-height: 40px;
	background: #fff;
	position: relative;
	font-weight: bold;
}
.breadcumb .icon-list{
	width: 40px;
	height: 40px;
	border-right: solid 3px #ccc;
	float: left;
	text-align: center;

}
.breadcumb > div:nth-child(2){
	float: left;
	padding-left: 1em;
}
.breadcumb .creat-button{
	padding:0 1em;
	float: right;
	right: 0;
	background: #67BB75;
	color: #fff;
}
/* add class */
.add-class{
	min-height: 300px;
	border:solid 1px #000;
	text-align: center;
	position: relative;
	padding: 1em 100px;
	background: #fff;
}

.add-class .class-cover{
	width: 35%;
	height: 100%;
	float: left;
	left: 0;
}
.class-cover img{
	width: 98%;
}
.add-class .class-input{
	width: 65%;
	height: 100%;
	float: right;
	box-sizing: border-box;
	text-align: left;
	padding-left:5px;
}
.class-input label{
	position: absolute;
	margin-top:12px;
	margin-left: 10px;
}
.class-input label i{
	color:#999;
}
.class-input input, .class-input select{
	height: 40px;
	line-height: 40px;
	width:97.5%;
	margin-bottom: 7px;
	border:solid 1px #A9A9A9;
	border-radius: 4px;
	padding-left: 30px !important;
	box-sizing: border-box;
	background: #fff;
}


/* list class */
.list-classes ul li {
	width: 30%;
	float: left;
	margin-left: 23px;
	margin-top: 15px;
	border: solid 1px #000;
	position: relative;
	overflow: hidden;
}
.list-classes ul li:before{
	content: "\f040";
	font-family: FontAwesome;
	position: absolute;
	width: 50px;
	height: 50px;
	top:-20px;
	left:-20px;
	 border-radius: 50%; 
	background: #fff;
	color:#FF7226;
	padding-top: 23px;
    padding-left: 18px;
    box-sizing: border-box;
    box-shadow: 1px 1px 3px #000;
}
.list-classes ul li:after{
	content: "\f00d";
	font-family: FontAwesome;
	position: absolute;
	width: 50px;
	height: 50px;
	top:-20px;
	right:-20px;
	border-radius: 50%; 
	background: #fff;
	color:#E12323;
	padding-top: 23px;
    padding-right: 18px;
    box-sizing: border-box;
    box-shadow: -1px 1px 3px #000;
}

.list-classes li > img{
	width: 100%;
}

.list-classes .class-info{
	position: relative;
	background: #fff;
	margin:0;
	padding:15px;
	box-sizing: border-box;
	text-align: left;
	font-size: .95em;
}
.class-info h3{
	padding-left: 55px;
	margin:0;
	font-size: 13px;
}
.class-info div p{
	font-style: italic;
	color: #999;
	font-size: 1.1em;
	float: left;
	margin-top:5px;
}
.class-info .button{
	bottom: 10px;
	right: 15px;
	padding: 5px 8px;
	background: #CC2F2F;
	font-size: 1em;
	font-weight: 100;
	border-radius: 4px;
	float: right;
	border:solid 1px #000;
}
.class-info div{
	height: 25px;
	line-height: 25px;
	padding-top:10px;
}
.class-info i{
	font-size: 1.2em;
	color:#999;
	font-weight: bolder;
}

/* add teacher */
.teacher-input{
	text-align: left;
	width: 65%;
	float: right;
}

.teacher-input div{
	height: 35px;
	line-height: 35px;
	margin-bottom: 7px;
	padding-left: 15px;
	font-size: 14px;
	display: flex;
}
.teacher-input label{
	width: 35%;
}
.teacher-input input[type='text']{
	width: 65%;
	height: 35px;
	border:1px solid #999;
	border-radius: 4px;
	padding-left: 15px !important;
}

.teacher-input select{
	width: 100px;
	border:solid 1px #999;
	margin:0;
	border-radius: 3px;
	margin-left:-5px;
}
.teacher-input input[type='checkbox']{
	margin-left: 10px;
}

.teacher-info{
	background: #fff;
	padding: 5px 15px;
}
.teacher-info h3{
	margin:10px 0 5px;
}
.teacher-info > p{
	margin:0;
	color: #999;
	font-style: italic;
}
.teacher-repute div {
	display: inline-flex;
	width: 100%;
	text-align: left;
	font-size: 13px;
}
.teacher-repute div p:first-child{
	width: 50%;
	font-weight: bold;
	color: #6F6E6E;
}
.teacher-repute div p:last-child{
	width: 50%;
	color: #656464;
	font-weight: 300;
}

.teacher-link{
	display: flex;
	margin-bottom: 1em;
}
/* ===============TUYEN SINH */
